<h1>Welcome to the TWU Directory</h1>
<% if @error %>
    <div class="error"><%= @error %></div>
<% end %>
<%= form_for :batch_entry do |f| %>
    <%= f.label :batch_number, 'Enter TWU Batch Number'%>
    <%= f.text_field :batch_number%>
    <%= f.submit 'Go!' %>
<% end %>
